@{
ViewBag.Page = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="af58fe0058abcf32" />
    <meta name="google-site-verification" content="gdUzdEXU_iT8G6wGAD2PoS-vghnwPIdxj1ZdRUcfztg" />
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layoutScripts")
    @Scripts.Render("~/bundles/validation")
    @RenderSection("scripts", required: false)


        
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Управление программными проектами", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Доска", "Table", "Table", null, new {@class = "nav-link active"})</li>
                    <li class="nav-item">@Html.ActionLink("О программе", "About", "Home", null, new {@class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Контакт", "Contact", "Home", null, new {@class = "nav-link"})</li>
                    @if(ViewBag != null && ViewBag.IsAuth != null)
                    {
                    if(!ViewBag.IsAuth)
                    {
                    <li class="nav-item">@Html.ActionLink("Войти", "Login", "Account", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "nav-link" })</li>

                    }
                    else
                    {
                            <li>@Html.ActionLink("Выйти", "Logout", "Account", null, new {@class = "nav-link"})</li>
                    }
                    }
                    else
                    {
                    <li class="nav-item">@Html.ActionLink("Войти", "Login", "Account", null, new { @class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "nav-link"})</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        
    </div>
    <div style="bottom: 0; position: fixed; width: 100%;">
        <hr style="width: 60%;" />
        <footer>
                @if(ViewBag.IsAuth != null && ViewBag.IsAuth)
                {
                <p style="padding: 0px 0px 0px 20%">Вы вошли как: @ViewBag.Login</p>
                }
                <p style="padding: 0px 0px 0px 20%">&copy; @DateTime.Now.Year – Кафедра <a href="http://asoiu.com/">АСОИУ</a></p>
            <div style="bottom: 2%; position:fixed; padding-left: 74%">
                <script type="text/javascript"><!--
    document.write(VK.Share.button(false, { type: "round", text: "Поделиться" }));
    --></script>
            </div>
        </footer>
    </div>
</body>
</html>
