<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layoutScripts")
    @RenderSection("scripts", required: false)


        
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Управление программными проектами", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Доска", "Table", "Table", null, new {@class = "nav-link active"})</li>
                    <li class="nav-item">@Html.ActionLink("О программе", "About", "Home", null, new {@class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Контакт", "Contact", "Home", null, new {@class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Войти", "Login", "Home", null, new { @class = "nav-link login"})</li>
                    <li class="nav-item">@Html.ActionLink("Регистрация", "Register", "Home", null, new { @class = "nav-link register"})</li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
</body>
</html>
