@model TableForDevelopers.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
@using (Ajax.BeginForm("Register", new AjaxOptions { UpdateTargetId = "dialogContent"}))
{
@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Зарегистрироваться</h3>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(false)
                <div class="form-group">
                    <label for="emailInput">E-Mail*:</label>
                    <!--<input type="text" class="form-control" id="emailInput" placeholder="example@mail.com" />-->
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id="emailInput", @placeholder="example@mail.com"}, })
                </div>
                <div class="form-group">
                    <label for="firstNameInput">Никнейм (или название организации)*:</label>
                    <!--<input type="text" class="form-control" id="firstNameInput" placeholder="Иван" />-->
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id="firstNameInput", @placeholder="Иван"}, })
                </div>
                <div class="form-group">
                    <label for="dropdownMenuButton">Тип пользователя:</label>
                    <div class="dropdown">
                        @Html.DropDownListFor(model => model.UserType, new SelectList(new List<string>
                        {"Developer", "Customer", "TeamLeader"}), new { @class = "btn btn-light dropdown-toggle", @id="dropdownMenuButton", @data_toggle="dropdown", @placeholder="Developer", @type="button", @readonly="true", @text="Developer", @aria_haspopup="true", @aria_expanded="false"})
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordInput">Пароль*:</label>
                    <!--<input type="text" class="form-control" id="passwordInput" placeholder="Passw0rd132" />-->
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id="passwordInput", @placeholder="Passw0rd132"}, })
                </div>
                <div class="form-group">
                    <label for="repeatPasswordInput">Повторите пароль*:</label>
                    <!--<input type="text" class="form-control" id="repeatPasswordInput" placeholder="Passw0rd132" />-->
                    @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @id="repeatPasswordInput", @placeholder="Passw0rd132"}, })
                </div>
                Обязательные поля отмечены *.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <input type="submit" class="btn btn-primary" value="Регистрация" />
            </div>
        </div>
}