@model TableForDevelopers.Models.CardModel
@using (Html.BeginForm()) 
{
@Html.AntiForgeryToken()
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Создать задачу</h3>
        @Html.ValidationSummary(false)
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="cardHeader">Заголовок карточки:</label>
            @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control", @id="cardHeader", @placeholder="Attention: Bug!"}, })
        </div>
        <div class="form-group">
            <label for="AppointedDeveloper">Назначенный разработчик:</label>
            @Html.DropDownListFor(model => model.AppointedDeveloper, new SelectList(ViewBag.Developers), new { @class = "btn btn-light dropdown-toggle", @id="AppointedDeveloper", @data_toggle="dropdown", @placeholder="Developer", @type="button", @readonly="true", @text="Developer", @aria_haspopup="true", @aria_expanded="false"})
        </div>
        <div class="form-group">
            <label for="ProjectName">Проект:</label>
            @Html.DropDownListFor(model => model.Project, new SelectList(ViewBag.Projects), new { @class = "btn btn-light dropdown-toggle", @id="ProjectName", @data_toggle="dropdown", @placeholder="Developer", @type="button", @readonly="true", @text="Developer", @aria_haspopup="true", @aria_expanded="false"})
        </div>
        <div class="form-group">
            <label for="DevelopmentStage">Этап разработки:</label>
            @Html.DropDownListFor(model => model.Status, new SelectList(new List<string>() {"Backlog", "Analysis", "Testing", "Developing", "Done"}), new { @class = "btn btn-light dropdown-toggle", @id="DevelopmentStage", @data_toggle="dropdown", @placeholder="Developer", @type="button", @readonly="true", @text="Developer", @aria_haspopup="true", @aria_expanded="false"})
        </div>
        <div class="form-group">
            <label for="description">Описание задачи:</label>
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @id="cardHeader", @placeholder="You should do the following:", @type="textarea", @rows="5"})
        </div>
    </div>
    <div class="modal-footer">
        <button id="CancelCreateButton" class="btn btn-secondary" value="Cancel" data-dismiss="modal">Отмена</button>
        <button id="AcceptCreateButton" type="submit" class="btn btn-success">Создать</button>
    </div>
</div>
}
