@model IEnumerable<TableForDevelopers.Models.CardModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/tableScripts")
   @Scripts.Render("~/bundles/popper")
<div class="card-deck"> <!--Изменить на таблицу-->
    @foreach(var card in Model)
    {
        <div class="@card.CardClass" style="max-width: 20rem;"> 
            <div class="card-header">
            <h5 class="card-title">@card.Header</h5>
             </div>
            <div class="@card.CardBodyClass">
                @Html.ActionLink(card.Description, "Card", "Table", new { id = card.CardID }, new {@class = "aboutCard"})
                <!--Описание: @card.Description<br/>-->
                Разработчик: @card.AppointedDeveloper
            </div>
        </div>
    }
</div>
